@import "colors";
@import "fonts";

.contactContainer {
  display: flex;
  width: 90%;
  font-family: $font-base;

  .contactLeftSide {
    width: 60%;
    margin-right: 2rem;

    .contactLeftSideBackground {
      width: 150%;
      height: 100%;
      z-index: 0;
      opacity: 0.2;
    }
  }

  .contactRightSide {
    color: $color-darkGray;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10rem;

    h1 {
      font-size: 38px;
      text-align: center;
      font-weight: normal;
    }

    .contactForm {
      display: flex;
      flex-direction: row;

      input {
        border: none;
        border-bottom: 0.75px solid $color-darkGray;
      }

      p {
        font-size: 16px;
        text-align: left;
        font-weight: 600;
      }

      .contactFormLeftSide {
        margin-right: 2rem;
      }
    }
  }
}

.contactTextForm {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: auto;
  height: auto;

  p {
    font-size: 16px;
    text-align: left;
    font-weight: 600;
  }

  textarea {
    border: none;
    height: 97px;

    min-length: 3;
    border-bottom: 0.75px solid $color-darkGray;
  }
}

.SubmitButtonContact {
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;

  input[type=submit] {
    font-size: 18px;
    font-weight: 300;
    color: #000000;
    border: 0.75px solid $color-darkGray;
    padding: 13px 52px;
    display: flex;
    justify-content: center;
  }
}

